.learn-section {
  background: #626E80;
  border-radius: 15px;
  opacity: 0.9;
  padding: 30px;
  width: 85%;
  margin: 150px auto 30px auto;
  word-wrap: break-word;
}

.total {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  border-top: 2px solid #C4DCFF;
  border-bottom: 2px solid #C4DCFF;
  padding: 5px;
}

.translate {
  color: black;
  font-size: 2em;
}

.check-input {
  text-align: center;
}

.check-input .next-word {
  display: inline-block;
  text-align: center;
  margin: 10px auto 40px auto;
  background: #C4DCFF;
  width: 90%;
  border-radius: 20px;
  padding: 15px;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 5px 5px 5px #3C5780;
}

.word-guess-form {
  text-align: center;
}

.learn-guess-label {
  font-weight: bold;
  font-size: 1.2em;
}

#learn-guess-input {
  display: block;
  margin: 20px auto 0 auto;
  font-size: 2em;
  border: none;
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  text-align: center;
}

.submit-btn, .next-btn {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px auto 20px auto;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #3C5780;
  color: #fff;
}

.submit-btn:hover, .next-btn:hover {
  cursor: pointer;
  background-color: #C4DCFF;
  color: #000;
}

.word-stats {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.correct-prompt, .incorrect-prompt {
  color: #C4DCFF;
  font-weight: bold;
  font-size: 2.3em;
}

.correct-answer-prompt {
  text-align: center;
  color: #C4DCFF;
  font-weight: bold;
  font-size: 1.5em;
}

.message {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

@media only screen and (min-width: 680px) {
  #learn-guess-input {
    width: 70%;
  }

  .check-input .next-word {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .learn-section {
    width: 70%;
  }
  #learn-guess-input {
    width: 60%;
  }

  .check-input .next-word {
    width: 60%;
  }
}

@media only screen and (min-width: 1320px) {
  .learn-section {
    width: 50%;
  }
  #learn-guess-input {
    width: 50%;
  }

  .check-input .next-word {
    width: 50%;
  }
  .total {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


