/* #78AEFF blue base  #C4DCFF ligth blue #3C5780 deark grey blue #626E80 grey #608BCC blue */

.form {
	width: 400px;
  min-width:250px;
	margin: 20px auto;
	position: relative;
}

.form input {
  text-transform:uppercase;
  outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #C4DCFF;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
  position:relative;
  top:0;
}

.form label {
  display: none;
}
.form button[type=submit] {
  /* font-family:'Open Sans Condensed', sans-serif; */
  text-transform:uppercase;
  outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color:#3C5780;
	padding: 10px;
  color: white;
  border: none;
	border-radius: 3px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
  position:relative;
  top:0;
}

.form button[type=submit]:hover {
  background-color: #626E80;
}

footer {
	text-align: center;
}

.already-have-account {
	position: relative;
	top: 5px;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 80%;
    margin: auto;
  }
}
