main {
	width: 100%;
}

.form-background {
	background-color: #626E80;
	opacity: 0.9;
	padding: 20px;
	padding-bottom: 30px;
	width: 60%;
	border-radius: 15px;
	margin: 200px auto;
}

.form {
	width: 400px;
  min-width:250px;
	margin: 20px auto;
	position: relative;
}

.form input {
  outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #C4DCFF;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
  position:relative;
  top:0;
}

.form #username-input {
	text-transform: lowercase;
}

.form label {
  display: none;
}

.form button[type=submit] {
  text-transform:uppercase;
  outline:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color:#3C5780;
	padding: 10px;
  color: white;
  border: none;
	border-radius: 10px;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
  position:relative;
  top:0;
}

.form button[type=submit]:hover {
  cursor: pointer;
  background-color: #78AEFF;
  color: #000;
}

footer {
	text-align: center;
}

.already-have-account {
	color: white;
	position: relative;
	top: 5px;
}

@media only screen and (max-width: 600px) {
	.form-background {
		width: 90%;
	}
  .form {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 1150px) {
	.form-background {
		width: 50%;
	}
}
