*,
	*:after,
	*:before {
		box-sizing: border-box;
  }

body {
  background: url('/background.png') no-repeat fixed;
}

#root {
  margin-top: 130px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 150%;
}

a {
  text-decoration: none;
}

.description {
  font-size: 150%;
  margin: 50px;
  color: #3C5780;
}

.dashboard {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 2px solid #626E80;
  border-radius: 15px;
  background: #626E80;
}

.total-score {
  font-style: italic;
}

.start-practicing {
  /* border: 2px solid #3C5780; */
  background-color:  #C4DCFF;
  color: #3C5780;
  border-radius: 15px;
  padding: 4px 8px;
  display: block;
  margin: auto;
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  
}

.words-heading {
  text-align: center;
}

.word-list {
  list-style: none;
  border: 2px solid black;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.word-card {
  width: 250px;
  margin: 10px auto;
  padding-left: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 5px 10px black;
}

.word-title {
  text-align: center;
}

.correct-score, .incorrect-score {
  display: block;
  font-style: italic;
}
@media only screen and (min-width: 600px) {
  .dashboard {
    width:60%;
    margin: auto;
    flex-direction: row;
  }

  .word-card {
    width: 50%;
    margin: 10px auto;
    padding-left: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
  }
}