.app-header {
  background-color: #C4DCFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  /* box-shadow: 0 0 15px 0 black; */
}

header * {
  align-self: center;
}

header .title {
  margin-left: 20px;
  color: #3C5780;
  align-self: center;
  font-family: 'Pacifico', cursive;
  font-size: 100%;
  width: 20%;
}

.title-postfix {
  font-size: 10px;
  display: block;
  margin-left: 20px;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: 20px;
}

nav a {
  color: #3C5780;
  border: 2px solid #3C5780;
  border-radius: 3px;
  margin-right: 20px;
  padding: 3px 7px 7px 7px;
  align-self: center;
}

@media only screen and (min-width: 600px) {
  header .title {
    margin-left: 50px;
  }
  nav {
    width: 100%;
    margin-right: 50px;
  }
}
