.app-header {
  background-color: #C4DCFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1;
  box-shadow: 0px 4px 10px #626E80;
}


header .title h1{
  position: absolute;
  top: 0;
  margin-left: 20px;
  color: #3C5780;
  width: 130px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  z-index: 10;
}

.title h1:hover{
  cursor: pointer;
}

.title {
  position: absolute;
}

.title-postfix {
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  top: 30px;
  font-size: 12px;
  display: block;
  margin: 0;
  width: 130px;
  text-align: left;
}

.user-links {
  display: none;
  position: absolute;
  top: 80px;
  width: 50%;
  right: 0;
  height: 70px;
}

.open-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #3C5780;
}

.user-links a {
  color: #3C5780;
  width: 70px;
  margin-right: 20px;
  padding: 3px 7px 7px 7px;
}

.open-links a {
  width: 100%;
  margin: 0;
  text-align: center;
}

.separator {
  width: 100%;
  border: 2px solid #3C5780;
}

.show-username {
  /* display: block; */
  /* text-align: center; */
  padding: 8px 9px 5px 9px;
}

.bars {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  color: #3C5780;
}

@media only screen and (min-width: 600px) {
  .app-header {
    display: flex;
  }

  header .title h1{
    margin-left: 50px;
  }

  .title-postfix {
    top: 35px;
    text-align: left;
  }

  .user-links {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    height: 60px;
    padding-right: 43px;
    /* border: 2px solid #3C5780; */
  }

  .bars {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: #3C5780;
  }

  .user-links a {
    border: 2px solid #3C5780;
    border-radius: 3px;
    width: 80px;
    padding: 6px 10px 5px 8px;
    text-align: center;
  }

  .user-links a:hover {
    background-color: #3C5780;
    color: white;
  }

  .separator {
    display: none;
  }
}
